<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          {{ title }}
        </a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
   <footer class="footer">
    <div> <span>Desenvolvido por Jean Borges Dares / 2023</span>  </div>
    <br>

    <div class="links">
      <a href="https://www.linkedin.com/in/jean-borges-9a0b201b5/" target="_blank">LinkedIn</a>
      <a href="https://github.com/JeanDares" target="_blank">Github</a>
      <a href="https://portfoliojean-weld.vercel.app/" target="_blank">Meu portfólio</a>
    </div>


  </footer>
</div>
